.fit-width {
    width: 1px;
    white-space: nowrap;
}

.sub-label {
    position: absolute;
    left: -100px;
}

.horizontal-line {
    position: absolute;
    left: -100px;
    right: 3rem;
    height: 1px;
    top: 2px;
    background-color: #707070;
}