{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block theme-mindatlas-template-coursecategory">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_mindatlas/navbar }}
    {{> theme_mindatlas/nav-drawer }}

    <section id="section-banner" class="mt-navbar page-banner" style="background-image: url({{theme_brand.mycourses_banner}})">
        <div class="banner-box">
            <h1 class="page-title">My courses</h1>
        </div>
    </section>
    <div id="page" class="container d-print-block mt-0">
        {{{ output.full_header }}}

        <div id="page-content" class="row pb-3 d-print-block">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}

                <section id="region-main" class="mb-3" aria-label="{{#str}}content{{/str}}">
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    <div id="react-mount-learning-progress"></div>
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                </section>

            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_mindatlas/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});

M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_boost/drawer');
});
{{/js}}
