{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="theme-mindatlas-template-login">

    {{{ output.standard_top_of_body_html }}}

    <div id="page-header" class="container-fluid bg-color-primary px-0">
        <div class="px-4 py-3">
            <a class="" href="{{theme_url.root}}"><img class="h-300r" src="{{theme_brand.logo}}" /></a>
        </div>
    </div>

    <div id="page" class="container-fluid mt-0 h-100">
        <div id="page-content" class="row h-100">
            <div id="login-bg-carousel" class="carousel slide w-100 h-100" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#login-bg-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#login-bg-carousel" data-slide-to="1"></li>
                    <li data-target="#login-bg-carousel" data-slide-to="2"></li>
                    <li data-target="#login-bg-carousel" data-slide-to="3"></li>
                    <li data-target="#login-bg-carousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner w-100 h-100">
                    <div class="carousel-item w-100 h-100 active" style="background-image:url('{{theme_brand.loginbackgroundimage}}')"></div>
                    <div class="carousel-item w-100 h-100" style="background-image:url('{{theme_brand.logincarouselimage1}}')"></div>
                    <div class="carousel-item w-100 h-100" style="background-image:url('{{theme_brand.logincarouselimage2}}')"></div>
                    <div class="carousel-item w-100 h-100" style="background-image:url('{{theme_brand.logincarouselimage3}}')"></div>
                    <div class="carousel-item w-100 h-100" style="background-image:url('{{theme_brand.logincarouselimage4}}')"></div>
                </div>
            </div>
        </div>

        <div id="main-overlay" class="row no-gutters">

            <div class="main-overlay__left col-12 col-md-6 ">
                <section id="region-main" class="" aria-label="{{#str}}content{{/str}}">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
            
            <div class="main-overlay__right col-12 col-md-6 d-none d-sm-block"></div>
       
        </div>

    </div>

    <footer id="page-footer" class="footer p-3 bg-white">
        <!-- customize -->
        <div class="container-fluid ">
            <div class="float-right">
                <span class="font-weight-bold">AN LMS POWERED BY </span>
                <img class="ml-3 h-150r" src="{{theme_url.pix}}/logo.png" />
            </div>
        </div>
        <!-- end customize -->
        <div class="container d-none">
            <div id="course-footer">{{{ output.course_footer }}}</div>
            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
    </footer>

</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
