<ul class="section img-text">
    <li class="activity label">
        <div class="row">
            {{#image}}
                <div class="col-4">
                    <img src="{{image}}" class="img-fluid" />
                </div>
            {{/image}}
            <div class="col">{{{summary}}}</div>
        </div>
    </li>
</ul>
